{% for post in curated_posts %}
<section class="postsSection">
    <div class="metaData">
        <div>
            <img src="../static/images/jamie.jpeg" alt="" class="profilePic">
        </div>
        <div class="nameAndTime">
            <h4>{{ post.author }}</h4>
            <p>{{ post.timestamp }}</p>
        </div>
    </div>
    <div class="blogTrailer">
        <div class="trailerText">
            <h2>{{ post.title }}</h2>
            <hr>
            <p>{{ post.content }}</p>
            <div class="trailerIcons">
                <!-- Like button with unique post ID for JavaScript to detect -->
                <button class="like-btn" data-post-id="curated-{{ loop.index }}">
                    <img src="../static/images/icons/like2.png" alt="" class="like-icon">
                </button>
                <span id="like-count-curated-{{ loop.index }}">0</span>

                <!-- Comment button -->
                <button class="iconsButton comment-btn" data-post-id="curated-{{ loop.index }}">
                    <img src="../static/images/icons/comment2.png" alt="" class="icons">
                </button>
                <span id="comment-count-curated-{{ loop.index }}">0</span>

                <!-- Share button -->
                <button class="iconsButton share-btn" data-post-id="curated-{{ loop.index }}">
                    <img src="../static/images/icons/share2.png" alt="" class="icons">
                </button>

                <!-- Bookmark button -->
                <button class="iconsButton bookmark-btn" data-post-id="curated-{{ loop.index }}">
                    <img src="../static/images/icons/save2.png" alt="" class="icons">
                </button>
            </div>
        </div>
        <div class="trailerImage">
            <img src="{{ post.image }}" alt="">
        </div>
    </div>

    <!-- Comment Section for Curated Posts -->
    <div class="comment-section" id="comment-section-curated-{{ loop.index }}" style="display: none;">
        <div class="comments-list" id="comments-list-curated-{{ loop.index }}">
            <!-- Comments will be dynamically added here -->
        </div>
        <form class="comment-form" data-post-id="curated-{{ loop.index }}">
            <input type="text" name="content" placeholder="Add a comment..." required>
            <button type="submit">Post</button>
        </form>
    </div>
</section>
{% endfor %}
